.App {
  text-align: center;
}

.navbar {
  background-color: #38b6ff;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

